<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <style>
    :root {
      --primary-color: {{ settings.color_primary }};
      --secondary-color: {{ settings.color_secondary }};
      --accent-color: {{ settings.color_accent }};
      --text-color: {{ settings.color_text }};
      --background-color: {{ settings.color_secondary }};
      --border-color: #e5e5e5;
      --font-family: 'May Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
      --active-link-color: {{ settings.active_link_color }};
      --hover-link-color: {{ settings.hover_link_color }};
      --product-highlight-color: {{ settings.product_highlight_color }};
      --product-price-highlight-color: {{ settings.product_price_highlight_color }};
      --cta: {{ settings.cta_color }};
      --cta-hover: {{ settings.cta_hover_color }};
    }
  </style>

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  
  <!-- Header hook for plugins -->
  {{ content_for_header }}
</head>

<body class="template-{{ template.name | handle }}">
  {% section 'header' %}
  
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html> 